@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.form-field {
    display: flex;
    margin: 0.5rem;
}

.form-field > label {
    width: 8rem;
}

.form-field > div {
    flex-grow: 1;
}

.form-field input {
    width: 100%;
}

.next-button {
    margin: auto;
    display: inline-block;
    font-weight: 700;
    border-radius: 20px;
    padding: 0.4rem 1.2rem;
}

.main {
    flex-grow: 1;
    overflow-y: auto;
    background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,0.4) 80%);
    padding: 1.5rem !important;
}

td.confirmCell, td.confirmCellHighlight {
    padding: 0 .1em 0 .1em;
    font-weight: bold;
}

td.evenCell, td.oddCell {
    padding: .3em
}

a {
    text-decoration: none;
}

td.evenCell {
    background-color: Gainsboro;
}

td.oddCell {
    background-color: ghostwhite;
}

td.occupied, td.confirmCellHighlight {
    background-color: lightskyblue;
}

td.available a {
    color: forestgreen;
    font-weight: bold;
}

td.unavailable a {
    color: #b21f2d;
}

span.tally-included-zero, span.tally-extra {
    color: darkred;
    font-weight: bold;
}
